* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #eee;
	color: #111;
	font-size: 1em;
	font-family: Arial, sans-serif;
	text-align: center;
}

#title {
	font-size: 1.5em;
	text-align: center;
}

#wrapper {
	margin: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

#wrapper div {
	margin: 1vw;
}

#wrapper div button {
	margin: 0.5vw;
}

h1 {
	font-weight: bold;
	text-decoration: underline;
}

h2 {
	font-weight: normal;
	text-decoration: underline;
}

textarea {
	border: solid 0.25vw #ccc;
	background-color: #ddd;
	width: 90vw;
}

input {
	border: solid 0.25vw #ccc;
	background-color: #ddd;
}

button {
	border: solid 0.25vw #ccc;
	background-color: #ddd;
}

canvas {
	align-self: center;
	width: 50vw;
	height: 50vw;
	float: right;
}
