* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #fafafa;
	color: #111;
	font-size: 1em;
	font-family: Arial, sans-serif;
}

#wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#wrapper div {
	margin: 1vw;
	width: 50vw;
}

#wrapper div button {
	margin: 0.5vw;
}

h1 {
	font-weight: bold;
	text-decoration: underline;
}

h2 {
	font-weight: normal;
	text-decoration: underline;
}
